{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Robots de asistencia</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{%block navbar%}
<div class="collapse navbar-collapse" id="menuItems">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Sobre nosotros</a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">Contacto</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/FlorinUMA/Proyecto-Ingenieria-Web" class="nav-link" title="https://github.com/FlorinUMA/Proyecto-Ingenieria-Web">Repositorio de Github</a>
        </li>
        {% if istecnico%}
        {% set ref = '/tecnico?user=' + user %}
        <li class="nav-item">
            <a href={{ref}} class="nav-link">Ir a vista de técnico</a>
        </li>
        {% endif %}
        {% if ismedico%}
        {% set ref = '/medico?user=' + user %}
        <li class="nav-item">
            <a href={{ref}} class="nav-link">Ir a vista de médico</a>
        </li>
        {% endif %}
    </ul>
</div>

{% if not ismedico and not istecnico %}
<div class="topnav-right">
    <button type="button" class="btn btn-sync me-3 btn-lg" id="login_btn">
        <span class="btn-sync__text">
            LOGIN 
        </span>
    </button>
</div>
{% endif %}

{% endblock %}


{% block content%}
<div class="container-fluid text-white my-5 mx-auto">
    <div class="container-sm row justify-content-between min-vw-100">
        <fieldset class="col-xl-6 mb-6 px-5">
            <legend class="my-2 mx-3 row align-items-center justify-content-center">Control de robots asistenciales</legend>
            <div>
                <p>
                    Los robots asistenciales están siendo progresivamente incorporados al ámbito sanitario.
                    El uso de estos robots no son más que una nueva herramienta en para ayudar a los trabajadores sanitarios 
                    y mejorar la atención a los pacientes en los hospitales y las clínicas. El uso de robótica en el ámbito médico
                    permite un alto nivel de asistencia a los pacientes, con el objetivo de que las enfermeras y 
                    otros cuidadores puedan ofrecer a estos pacientes más empatía e interacción humana, para promover 
                    el bienestar a largo plazo. También ayudan a crear un entorno laboral más seguro. Por ejemplo, los
                    robots portátiles autónomos(AMR) se utilizan para transportar 
                    suministros y ropa de cama en hospitales, donde la exposición a los patógenos es un riesgo. 
                    Los robots de limpieza y desinfección limitan la exposición a los patógenos, a la vez que ayudan a reducir 
                    las infecciones adquiridas en hospitales; y ya hay cientos de centros de asistencia sanitaria que ya 
                    los están utilizando. Los robots sociales, un tipo de AMR, también ayudan con levantamientos
                    pesados como, por ejemplo, mover camas o pacientes, lo que reduce el estrés físico para los trabajadores sanitarios. <br><br>
                    
                    La tendencia al incremento del uso de robots en el ámbito de
                    la salud y los cuidados personales implica importantes desafíos. 
                    Uno de ellos es el control de estos de forma remota para 
                    crear un sistema más rápido, cómodo y eficaz.
                    Por ello, os presentamos nuestra aplicación para la modificación, creación y ejecución de tareas de los Robots del 
                    Hospital Clínico de la ciudad de Málaga. 
                </p>
            </div>
        </fieldset>
        <fieldset class="col-xl-5 mb-6 mx-auto">
            <img class="rounded mx-auto my-auto" src="{{url_for('static', filename='img/tuggy-inline.png')}}" alt="robot" title="robot" height=400 width=600>
        </fieldset>
        {# <fieldset class="fieldset-about col-md-4">
            
        </fieldset> #}
    </div>
    <div class="container-sm row justify-content-between min-vw-100 mt-5">
        <fieldset class="col-xl-5 mb-6 mx-auto">
            <img class="rounded mx-auto mt-5" src="{{url_for('static', filename='img/tuggy-inline.png')}}" alt="robot" title="robot" height=400 width=600>
        </fieldset>
        <fieldset class="col-xl-6 mb-6 px-5">
            <legend class="my-2 mx-3 row align-items-center justify-content-center">Uso de la aplicación</legend>
            <div>
                <p>
                    Nuestra aplicación será multiusuario de dos tipos: Técnico y Médico <br><br>

                    Un técnico será el encargado de gestionar las capacidades y habilidades de los robots del hospital, 
                    por lo que podrá ver la totalidad de robots (1º vista). Haciendo click en el robot deseado, podremos
                    ver la cantidad de tareas asociadas a ese robot (2º vista), siendo posible la creación de una nueva tarea (a través de un botón) o la edición de una de las existentes
                    (clickando sobre ella) a la que le introducimos los parámetros deseados (3º vista).<br><br>

                    Un médico será capaz de programar actividades que desempeñarán los robots. (seguir escribiendo cuando acabemos las vistas del robot)
                </p>
            </div>
        </fieldset>
    </div>
</div>

{% endblock %}

{% block scripts %}
{# Adds the scripts and dependencies #}
<script type="text/javascript">
    document.getElementById("login_btn").onclick = function() {
        location.href = "/login";
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
{% endblock %}
</body>

</html>