{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Robots de asistencia</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% endblock %}

{%block navbar%}
<div class="collapse navbar-collapse" id="menuItems">
    <ul class="navbar-nav me-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Sobre nosotros</a>
        </li>
        <li class="nav-item">
            <a href="/" class="nav-link">Contacto</a>
        </li>
        <li class="nav-item">
            <a href="https://github.com/FlorinUMA/Proyecto-Ingenieria-Web" class="nav-link" title="https://github.com/FlorinUMA/Proyecto-Ingenieria-Web">Github repository</a>
        </li>
        {# {% if is_tecnico%}
        <li class="nav-item">
            <a href="/tecnico" class="nav-link">Ir a vista de técnico</a>
        </li>
        {% endif %}
        {% if is_medico%}
        <li class="nav-item">
            <a href="/medico" class="nav-link">Ir a vista de médico</a>
        </li>
        {% endif %} #}
    </ul>
</div>

<div class="topnav-right">
    <button type="button" class="btn btn-sync me-3 btn-lg" id="login_btn">
        <span class="btn-sync__text">
            LOGIN 
        </span>
    </button>
</div>

{% endblock %}


{% block content%}
<div class="container-fluid text-white my-5 mx-auto">
    <div class="container-sm row justify-content-between min-vw-100">
        <fieldset class="col-xl-6 mb-6 px-5">
            <legend class="my-2 mx-3 row align-items-center justify-content-center">Control de robots asistenciales</legend>
            <div>
                <p>
                Aquí escribimos una introducción sobre que es nuestra aplicación. Cambiamos la foto de la derecha por alguna útil
                </p>
            </div>
        </fieldset>
        <fieldset class="col-xl-5 mb-6 mx-auto">
            <img class="rounded mx-auto my-auto" src="{{url_for('static', filename='img/tuggy-inline.png')}}" alt="robot" title="robot" height=400 width=600>
        </fieldset>
        {# <fieldset class="fieldset-about col-md-4">
            
        </fieldset> #}
    </div>
    <div class="container-sm row justify-content-between min-vw-100 mt-5">
        <fieldset class="col-xl-5 mb-6 mx-auto">
            <img class="rounded mx-auto mt-5" src="{{url_for('static', filename='img/tuggy-inline.png')}}" alt="robot" title="robot" height=400 width=600>
        </fieldset>
        <fieldset class="col-xl-6 mb-6 px-5">
            <legend class="my-2 mx-3 row align-items-center justify-content-center">Uso de la aplicación</legend>
            <div>
                <p>
                    Aquí escribimos el uso básico de la aplicación, y cambiamos la foto de la izquierda por alguna útil.
                </p>
            </div>
        </fieldset>
    </div>
</div>

{% endblock %}

{% block scripts %}
{# Adds the scripts and dependencies #}
<script type="text/javascript">
    document.getElementById("login_btn").onclick = function() {
        location.href = "/login";
    };
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous">
    </script>
{% endblock %}
</body>

</html>