{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Robots de asistencia - Medico</title>
{# <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> #}

<script src="{{url_for('static',filename='js/changeReturn.js')}}"></script>

{% endblock %}

{% block route %}
  Inicio > <u>Médico</u>
{% endblock %}

{% block content%}

<script>custom_return("{{user}}")</script>

<div class="container-fluid my-5 px-5">
    <h2 class="mini_title">Tareas</h2>
    <br>
    <table class="table table-hover table-dark mx-auto" style="width: 85%;">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID Tarea</th>
          <th scope="col">Tarea</th>
          <th scope="col">Tipo</th>
          <th scope="col">Estado</th>
          <th scope="col">Fecha de ejecución</th>
          <th scope="col">Robot asignado</th>
        </tr>
      </thead>
      <tbody>
            {% for tarea in tareas %}
              <tr onclick="location.href='/medico/asigna-robot?user={{user}}&id_tarea={{tarea.id}}'">
                <td>{{tarea.id}}</td>
                <td>{{tarea.nombre}}</td>
                <td>{{tarea.tipo_tarea}}</td>
                <td>{{tarea.estado_id|muestraEstado()}}</td>
                <td>{{tarea.fecha_ejecucion|filtroFecha()}}</td>
                <td>{{tarea.rob_Id|muestraRobot()}}</td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
