{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Robots de asistencia - Medico</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{# {% block content%}
    {% for i in row %} 
    <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"></a>
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{i[0]}}</h5>
    </div>
    <p class="mb-1">{{i.estadoId}}</p> 
    {# <button class="btn btn-primary btn-sm" style="width: fit-content;">Ver Robot</button>
    </a>
    </div>
    {% endfor %}

{% endblock %} #}


{% block content%}

<div class="container-fluid my-5 px-5">
    <h2 class="mini_title">Robots</h2>
          
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID Robot </th>
          <th scope="col">Tareas </th>
          <th scope="col">Estado </th>
        </tr>
      </thead>
      <tbody>
            {% for i in row %}
              <tr>
                <td>{{i[0]}}</td>
                {# <td>{{i[0].id|buscaTareas(tareas)}}</td>
                <td>{{i[0]|muestraEstado(estados)}}</td> #}
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}
