{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Robots</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{% block content%}

<div class="container">

    <h2>Tasks</h2>
          
    <table class="table tasks">
      <button OnClick=" location.href='task-editor' ">Edit</button>
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID Task</th>
        </tr>
      </thead>
      <tbody>
            {% for i in row %}
              <tr>
                <td>{{i}}</td>
              </tr>
            {% endfor %}
        

      </tbody>
    </table>
  </div>

{% endblock %}