{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Robots</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{% block content%}

<div class="container">
    <h2>Robots</h2>
          
    <table class="table tasks">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID Robot </th>
        </tr>
      </thead>
      <tbody>
            {% for i in row %}
              <tr>
                <td>{{i[0]}}</td>
                <td><button OnClick="refRobot({{i[0]}})">Edit</button></td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block scripts%}

<script>
function refRobot(id) {
  location.href = `robotDetails?id=${id}`;
}
</script>

{% endblock %}