{# Makes use of base.jinja #}
{% extends 'base.jinja' %}

{% block head %}
{# Adds the title, stylesheet links and favicon #}

<title>Robots</title>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock %}

{%block navbar%}
<div class="collapse navbar-collapse" id="menuItems">
  <ul class="navbar-nav me-auto">
    <li class="nav-item">
      <a href="/nueva-tarea" class="nav-link">Añadir nueva tarea</a>
    </li>
  </ul>
</div>
{% endblock %}

{% block content%}

<div class="container-fluid my-5 px-5">
    <h2 class="mini_title">Robots</h2>
          
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID Robot</th>
          <th scope="col">Nombre</th>
          <th scope="col">Tareas</th>
        </tr>
      </thead>
      <tbody>
            {% for i in row %}
              <tr>
                <td>{{i.id}}</td>
                <td>{{i.nombre}}</td>
                <td>{{i.id|buscaTareas(tareas)}}</td>
                <td><button OnClick="refRobot({{i.id}})">Edit</button></td>
              </tr>
            {% endfor %}
      </tbody>
    </table>
  </div>

{% endblock %}

{% block scripts%}

<script>
function refRobot(id) {
  location.href = `robotDetails?id=${id}`;
}
</script>

{% endblock %}