:root{
  --transition-time: 0.2s;
  --transition-ease: ease;
  --transition-properties: var(--transition-time) var(--transition-ease);
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  font-family: var(--font-family);
}

.image {
  height: 25rem;
  width: 37.5rem;
  transition: all var(--transition-properties);
}

.image:hover {
  background-color: rgba(0,0,0,0);
}

.bg {
  background-color: #d3d3d3;
  background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23ffffff' fill-opacity='1'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-nav {
  background-color: rgba(255, 255, 255, 0.85);
}

.bg_lightgray {
  background: rgb(240, 240, 240);
}

.bg_darkgray {
  background: rgb(30, 30, 30);
}

.logoNav{
  width: 30px;
  height: 30px;
}

.logo{
  transition: background-color var(--transition-properties);
  border-radius: 0.25rem;
  padding: 0.3rem;
}

.logo:hover{
  cursor: pointer;
  background-color: rgb(211, 211, 211, 0.75);
}

fieldset legend{
  white-space: nowrap;
  background: none;
  width: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  color: black;
  font-weight: bold;
}

fieldset p{
  padding: 0.6em;
  background: rgba(10, 10, 10, 0.3);
  border-radius: 15px;
  width: auto;
}

.home-link {
  color: grey;
  font-size: medium;
  text-decoration: none;
}

.first-title {
  color:rgba(10, 10, 10);
  font-size: x-large;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.first-title:hover {
  color: black;
}

.btn-sync {
  position: relative;
  padding: 5px 15px;
  background: dodgerblue;
  border: none;
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-sync:active {
  transform: scale(0.95);
}

.btn-sync:hover {
  background-color: rgb(30, 23, 220);
}

.btn-sync:focus {
  background: rgb(30, 23, 220);;
}

.btn-sync__text {
  color: #ffffff;
  transition: all 0.2s;
}

.bi:hover{
  color: blue;
}

main {
  margin-top: 90px;
}

.navbar a:active, a:focus {
  outline: 0;
}

.mini_title {
  white-space: nowrap;
  background: none;
  width: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  color: black;
  font-weight: bold;
}

.thead-dark{
  background-color: darkslategray;
}

.table-hover tr td:hover{
  cursor: pointer;
}

.table-dark tr td, .table-dark tr th{
  background-color: rgba(10, 10, 10, 0.7);
  padding: 15px;
}

.form-inline-control {
  border: 1px;
  border-color: #d3d3d3;
  border-radius: 3px;
  padding: 6px;
  padding-left: 10px;
  background-color: white;
  width: fit-content;
}

@media screen and (min-width: 600px){
  .home-link{
    transition: font-size var(--transition-properties);
  }
  .home-link:hover{
    color:black;
    font-size: large;
  }

  .btn{
    transition: all var(--transition-properties);
  }

  .btn:hover{
    font-size: large;
  }
}
@media screen and (min-width: 992px){
  .fieldset-container{
    gap: 1em;
  }
}
